<!--------------------------------------------------------------------------
* Autor: German Mendoza
* correo: german.mendoza.187@gmail.com
* Fecha de publicación: 30/07/2015
* Version: 1.0
* Copyright: German Mendoza, en caso de distribución colocar mis referencias
* Descripcion: Vista de contactos
*
*-------------------------------------------------------------------------->
<div id="game" class="container">
    <div class="contact-inner">
        <h2 class="title  text-center">Contáctanos</h2>

        <p class="intro  text-center">Esperamos que el contenido ofrecido, haya cumplido tus necesidades. <br/>No dude
            en ponerse en contacto si tiene alguna pregunta o sugerencia.</p>

        <div class="author-message">
            <div class="speech-bubble">
                <h3 class="sub-title">Prof. Oscar A. López</h3>

                <p>
                    Av. Los Estadios, Edificio IMME Sur, Oficina 203´<br>
                    Ciudad Universitaria, Caracas, Venezuela<br>
                    Telf: +58(0)212 6051756
                </p>
            </div>
            <!--//speech-bubble-->
        </div>
        <!--//author-message-->
        <div class="author-message">
            <div class="speech-bubble">
                <h3 class="sub-title">Gustavo Coronel D.</h3>

                <p>
                    Profesor - Investigador<br>
                    IMME, FI, UCV<br>
                    Telf: +58(0)212 6053128
                </p>
            </div>
            <!--//speech-bubble-->
        </div>
        <div class="author-message">
            <div class="speech-bubble">
                <h3 class="sub-title">Jorge González</h3>

                <p>
                    Funvisis<br>
                    Telf: +58(0)212 2575153 (Ext. 210)
                </p>
            </div>
            <!--//speech-bubble-->
        </div>
        <div class="author-message">
            <div class="speech-bubble">
                <h3 class="sub-title">German Mendoza</h3>

                <p>Te gusto este trabajo contáctame en linkedin <a style="font-weight:bold"
                                                                   href="https://ve.linkedin.com/in/german0296"
                                                                   target="_blank">german0296</a>
            </div>
            <!--//speech-bubble-->
        </div>
        <!--//author-message-->
        <div class="clearfix"></div>
    </div>
</div>