<!--------------------------------------------------------------------------
* Autor: German Mendoza
* correo: german.mendoza.187@gmail.com
* Fecha de publicación: 30/07/2015
* Version: 1.0
* Copyright: German Mendoza, en caso de distribución colocar mis referencias
* Descripcion: Vista inicial
*
*-------------------------------------------------------------------------->
<div id="game" class="container">
    <div class="row">
        <a ui-sref="sec1">
            <div id="sec-1" class="col-md-3 col-md-offset-2">
                <h1>1</h1>

                <p>¿En Venezuela se han dañado escuelas por terremotos?</p>
            </div>
        </a>
        <a ui-sref="sec2">
            <div id="sec-2" class="sec-1 col-md-3">
                <h1>2</h1>

                <p>¿Venezuela es un País Sísmico?</p>
            </div>
        </a>

        <div id="sec-img" class="col-md-3">
            <img src="images/personajeI5-op.png">
        </div>
    </div>
    <div class="row">
        <a ui-sref="sec3">
            <div id="sec-3" class="sec-1 col-md-3 col-md-offset-2">
                <h1>3</h1>

                <p>¿Mi escuela es vulnerable?</p>
            </div>
        </a>
        <a ui-sref="sec4">
            <div id="sec-4" class="sec-1 col-md-3">
                <h1>4</h1>

                <p>¿Como reducir el riesgo sísmico en mi escuela?</p>
            </div>
        </a>
    </div>
</div>