<!--------------------------------------------------------------------------
* Autor: German Mendoza
* correo: german.mendoza.187@gmail.com
* Fecha de publicación: 30/07/2015
* Version: 1.0
* Copyright: German Mendoza, en caso de distribución colocar mis referencias
* Descripcion: Vista de la segunda seccion
*
*-------------------------------------------------------------------------->
<div id="game" class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 sec-nav sec-nav-top">
            <a ui-sref="sec1" class="sec-nav-left"><span>1</span> ¿En Venezuela se han dañado escuelas por
                terremotos?</a>
            <a ui-sref="sec3" class="sec-nav-right"><span>3</span> ¿Mi escuela es vulnerable?</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 sec-title">
            <h1><span>2</span>¿Venezuela es un País Sísmico?</h1>
        </div>
    </div>

    <div class="row">
        <div id="sec-2-0-r" class="col-md-4 col-md-offset-2">
            <p class="oval-thought-border">Los sismos son agitaciones bruscas originadas en el interior de la Tierra,
                ellas producen vibraciones en el suelo, las conocemos como terremotos.
            </p>
        </div>
        <div id="sec-2-0-l" class="col-md-5">
            <img src="images/personajeI3.png" alt="personaje">
        </div>
    </div>

    <div class="row">
        <div id="sec-2-1" class="col-md-10 col-md-offset-2 sec-center">
            <p>Los sismos se propagan como ondas, así como las del sonido, son una manifestación de la naturaleza, así
                como la naturaleza, así como la lluvia, un día de sol, las olas del mar. Debe quedar claro que la
                naturaleza tiene sus propias leyes y no se pueden pasar por alto.</p>
            <img src="images/sec-2-1.png" alt="ondas sismicas">
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center">
            <p>Existen zonas de mayor peligro que otras, e incluso existen algunas que no presentan. No se sabe cuando
                pueda ocurrir un sismo, pero sí dónde hay más posibilidades de que ocurra. Este mapa indica las zonas
                sísmicas de Venezuela y el nivel de amenaza. </p>
            <img src="images/sec-2-2.png" alt="zonificacion sísmica de Venezuela">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 sec-nav sec-nav-bottom">
            <a ui-sref="sec1" class="sec-nav-left"><span>1</span> ¿En Venezuela se han dañado escuelas por
                terremotos?</a>
            <a ui-sref="sec3" class="sec-nav-right"><span>3</span> ¿Mi escuela es vulnerable?</a>
        </div>
    </div>
</div>