<!--------------------------------------------------------------------------
* Autor: German Mendoza
* correo: german.mendoza.187@gmail.com
* Fecha de publicación: 30/07/2015
* Version: 1.0
* Copyright: German Mendoza, en caso de distribución colocar mis referencias
* Descripcion: Vista de la cuarta seccion
*
*-------------------------------------------------------------------------->
<div id="game" class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 sec-nav sec-nav-top">
            <a ui-sref="sec3" class="sec-nav-left"><span>3</span> ¿Mi escuela es vulnerable?</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 sec-title">
            <h1><span>4</span>¿Cómo reducir el riesgo sísmico en mi escuela?</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center">
            <p>Existen numerosos planteles, cada uno presenta un nivel de amenaza diferente. Hay planteles educativos en
                zonas de alta amenza sísmica y sin embargo presentan poca vulnerabilidad, por ser escuelas proyectadas
                correctamente, o que han sido reforzadas; así que no todas las escuelas deben ser reforzadas.</p>
            <img src="images/sec-4-1.png" alt="edificios escolares en Venezuela">
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-5 sec-4-2-l">
            <p class="oval-thought-border">El riesgo sísmico implica tanto la amenaza que existe como la vulnerabilidad
                que se presente ante cualquier evento. Debemos estar preparados.</p>
        </div>
        <div class="col-md-5 sec-img-small">
            <img src="images/personajeI8.png" alt="personaje">
        </div>
    </div>
    <div class="row">
        <div id="sec-4-3" class="col-md-10 col-md-offset-2 sec-center">
            <p>Diferentes organizaciones del país se han dedicado a estudiar la situación que presenta nuestras
                escuelas, se diferenciaron algunos modelos tipos de planteles.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center">
            <h1>TIPO ANTIGUO I</h1>
        </div>
    </div>
    <div class="row">
        <div id="sec-4-4-r" class="col-md-4 col-md-offset-2 sec-img-small">
            <img src="images/sec-4-2.png" alt="E.B Jose Antonio Rodríguez Abreu">

            <p>E.B Jose Antonio Rodríguez Abreu. Estado Sucre. </p>
        </div>
        <div id="sec-4-4-l" class="col-md-5 sec-img-small">
            <img src="images/sec-4-3.png" alt="U.E.N Jose Rafael Revenga">

            <p>U.E.N Jose Rafael Revenga. Estado Aragua. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center">
            <h2>POSIBLES DAÑOS ESTRUCTURALES</h2>
            <img src="images/sec-4-4.png" alt="Antigua escuela Valentín Valiente">

            <p>Antigua escuela Valentín Valiente. Estado Sucre.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center">
            <h2>Refuerzo Sugerido</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2 sec-img-small">
            <img src="images/sec-4-5.png" alt="refuerzo tipo 1">
        </div>
        <div class="col-md-5 sec-img-small">
            <img src="images/sec-4-6.png" alt="refuerzo tipo 2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center sec-img-center-small">
            <img src="images/sec-4-7.png" alt="Escuela Básica Cristobal Rojas">

            <p>Escuela Básica Cristobal Rojas. Estado Miranda.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center">
            <h1>TIPO ANTIGUO II</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center">
            <p>E. Bolivariana Miguel Villavicencio. Distrito Capital.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2 sec-img-extrasmall">
            <img src="images/sec-4-8.png" alt="E. Bolivariana Miguel Villavicencio">
        </div>
        <div class="col-md-5 sec-img-small">
            <img src="images/sec-4-9.png" alt="E. Bolivariana Miguel Villavicencio">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2 sec-img-small">
            <img src="images/sec-4-10.png" alt="U.E María Reina de López">

            <p>U.E María Reina de López. Estado Sucre</p>
        </div>
        <div class="col-md-5 sec-img-small">
            <img src="images/sec-4-11.png" alt="U.E Andrés Eloy Blanco">

            <p>U.E Andrés Eloy Blanco. Estado Sucre</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center">
            <h2>Refuerzo Sugerido</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center sec-img-center-small">
            <img src="images/sec-4-12.png" alt="Mampostería con Friso Armado">

            <p>Mampostería con Friso Armado.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center sec-img-center-small">
            <img src="images/sec-4-13.png" alt="Sistema estructural adicional de muros de concreto armado">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center sec-img-center-small">
            <img src="images/sec-4-14.png" alt="Estructura Sistema estructural adicional de muros de concreto armado">

            <p>Sistema estructural adicional de muros de concreto armado.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center">
            <h1>TIPO CAJETÓN</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center sec-img-center-small">
            <img src="images/sec-4-15.png" alt="Maqueta tipo cajeton">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2 sec-img-small">
            <img src="images/sec-4-16.png" alt="U.E. Escuela Básica Corazón de Jesús exterior">
        </div>
        <div class="col-md-5 sec-img-small">
            <img src="images/sec-4-17.png" alt="U.E. Escuela Básica Corazón de Jesús interior">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center">
            <p>U.E. Escuela Básica Corazón de Jesús. Estado Sucre</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center">
            <h2>POSIBLES DAÑOS ESTRUCTURALES</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center sec-img-center-small">
            <img src="images/sec-4-18.png" alt="daños estructurales de escuelas tipo cajeton">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center">
            <h2>REFUERZO SUGERIDO</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center sec-img-center-small">
            <img src="images/sec-4-19.png" alt="Sistema estructural adicional de muros de concreto armado">

            <p>Sistema estructural adicional de muros de concreto armado</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center">
            <h1>TIPO RURAL</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2 sec-img-extrasmall">
            <img src="images/sec-4-20.png" alt="estructura tipo rural">
        </div>
        <div class="col-md-5 sec-img-small">
            <img src="images/sec-4-21.png" alt="escuela tipo rural">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center">
            <h2>REFUERZO SUGERIDO</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center sec-img-center-small">
            <img src="images/sec-4-22.png" alt="Fijación de elementos diagonales en la estructura">

            <p>Fijación de elementos diagonales en la estructura</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center">
            <h1>TIPO MÓDULO BASE</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center sec-img-center-extrasmall">
            <img src="images/sec-4-23.png" alt="escuela tipo modulo">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center">
            <h2>REFUERZO SUGERIDO</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2 sec-img-small">
            <img src="images/sec-4-24.png" alt="refuerzo sugerio para escuelas tipo modulo antes">
        </div>
        <div class="col-md-5 sec-img-small">
            <img src="images/sec-4-25.png" alt="refuerzo sugerio para escuelas tipo modulo despues">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center">
            <h1>REFUERZO DE DEBILIDADES NO ESTRUCTURALES</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center sec-img-center-small">
            <img src="images/sec-4-26.png" alt="indicaciones elementos a fijar">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center sec-img-center-small">
            <img src="images/sec-4-27.png" alt="soporte de repisas">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center sec-img-center-small">
            <img src="images/sec-4-28.png" alt="donde colocar los estantes">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center">
            <p>Las comunidades tienen la capacidad de gestionar la solución a sus necesidades más próximas es
                indispensable que exista ORGANIZACIÓN entre los habitantes.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2 sec-center sec-img-center-small">
            <img src="images/sec-4-29.png" alt="comunidades junto a escuelas">
        </div>
    </div>
    <div class="row">
        <div id="sec-4-2-r" class="col-md-offset-2 col-md-5 sec-img-small">
            <img src="images/personajeI8.png" alt="personaje">

        </div>
        <div class="col-md-5 sec-4-2-l">
            <p class="oval-thought-border">Las escuelas son fábricas del futuro, jovenes se instruyen y crecen en estos
                espacios, los cuales deben ser seguros, no solo por nuestros niños y niñas y todos los jóvenes, sino
                también para la comunidad entera, ya que son áreas que sirven para cualquier actividad comunal incluso
                como regazo en cualquier emergencia. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 sec-nav sec-nav-bottom">
            <a ui-sref="sec3" class="sec-nav-left"><span>3</span> ¿Mi escuela es vulnerable?</a>
        </div>
    </div>
</div>